In [1]:
import requests
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [2]:
df = pd.read_csv('Book_Scraper_Final.csv')
df.head()

,title,rating,price,stock,book_link,img_link
0,A Light in the Attic,Three,51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.commedia/cache/2c/da/2c...
1,Tipping the Velvet,One,53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.commedia/cache/26/0c/26...
2,Soumission,One,50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.commedia/cache/3e/ef/3e...
3,Sharp Objects,Four,47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.commedia/cache/32/51/32...
4,Sapiens: A Brief History of Humankind,Five,54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.commedia/cache/be/a5/be...

In [3]:
data =[]
for link in tqdm(df['book_link']):
    res = requests.get(link)
    soup = BeautifulSoup(res.text,'html.parser')
    typ = soup.find('ul',class_='breadcrumb').find_all('a')[2].text
    temp = soup.find('table',class_ = 'table table-striped').find_all('td')

    upc = temp[0].text
    price_e = temp[2].text[2:]
    price_i = temp[3].text[2:]
    tax = temp[4].text[2:]
    Availability = temp[5].text
    no_of_reviews = temp[6].text

    
    data.append([typ,price_e,price_i,tax,Availability,no_of_reviews,upc])

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [20:51<00:00,  1.25s/it]

In [5]:
df = pd.DataFrame(data,columns = ['typ','price_e','price_i','tax','Quantity','no_of_reviews','upc'])
df.head()

,typ,price_e,price_i,tax,Quantity,no_of_reviews,upc
0,Poetry,51.77,51.77,0.00,In stock (22 available),0,a897fe39b1053632
1,Historical Fiction,53.74,53.74,0.00,In stock (20 available),0,90fa61229261140a
2,Fiction,50.10,50.10,0.00,In stock (20 available),0,6957f44c3847a760
3,Mystery,47.82,47.82,0.00,In stock (20 available),0,e00eb4fd7b871a48
4,History,54.23,54.23,0.00,In stock (20 available),0,4165285e1663650f

In [7]:
df.to_csv('Individual_Scrap.csv',index= False)