In [1]:
import pandas as pd

In [12]:
df_1 = pd.read_csv('Book_Scraper_Final.csv')
df_2 = pd.read_csv('Individual_Scrap.csv')

In [13]:
df_1.head()

,title,rating,price,stock,book_link,img_link
0,A Light in the Attic,Three,51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.commedia/cache/2c/da/2c...
1,Tipping the Velvet,One,53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.commedia/cache/26/0c/26...
2,Soumission,One,50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.commedia/cache/3e/ef/3e...
3,Sharp Objects,Four,47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.commedia/cache/32/51/32...
4,Sapiens: A Brief History of Humankind,Five,54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.commedia/cache/be/a5/be...

In [14]:
df_2.head()

,typ,price_e,price_i,tax,Quantity,no_of_reviews,upc
0,Poetry,51.77,51.77,0.0,In stock (22 available),0,a897fe39b1053632
1,Historical Fiction,53.74,53.74,0.0,In stock (20 available),0,90fa61229261140a
2,Fiction,50.10,50.10,0.0,In stock (20 available),0,6957f44c3847a760
3,Mystery,47.82,47.82,0.0,In stock (20 available),0,e00eb4fd7b871a48
4,History,54.23,54.23,0.0,In stock (20 available),0,4165285e1663650f

## Creating NEw DataFrames

In [15]:
df = pd.DataFrame()

df['title']         = df_1['title']
df['upc']           = df_2['upc']
df['category']      = df_2['typ']
df['price_e_tax']   = df_2['price_e']
df['price_i_tax']   = df_2['price_i']
df['tax']           = df_2['tax']
df['rating']        = df_1['rating']
df['reviews']       = df_2['no_of_reviews']
df['quantity']      = df_2['Quantity']
df['stock']         = df_1['stock']

df['book_link']     = df_1['book_link']
df['img_link']      = df_1['img_link']

In [16]:
df.head()

,title,upc,category,price_e_tax,price_i_tax,tax,rating,reviews,quantity,stock,book_link,img_link
0,A Light in the Attic,a897fe39b1053632,Poetry,51.77,51.77,0.0,Three,0,In stock (22 available),In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.commedia/cache/2c/da/2c...
1,Tipping the Velvet,90fa61229261140a,Historical Fiction,53.74,53.74,0.0,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.commedia/cache/26/0c/26...
2,Soumission,6957f44c3847a760,Fiction,50.10,50.10,0.0,One,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.commedia/cache/3e/ef/3e...
3,Sharp Objects,e00eb4fd7b871a48,Mystery,47.82,47.82,0.0,Four,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.commedia/cache/32/51/32...
4,Sapiens: A Brief History of Humankind,4165285e1663650f,History,54.23,54.23,0.0,Five,0,In stock (20 available),In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.commedia/cache/be/a5/be...

In [17]:
df.to_csv('Final_project.csv')